<!doctype html>
<html>
	<head>
		<title>ISP Accountability</title>
		<script src="js/data.js"></script>
		<script src="js/Chart.min.js"></script>
		<script src="js/chartData.js"></script>
		<link rel="icon" type="image/png" href="images/isp-checkup.png">
	</head>
	<body>
		<center><h1>12 Hour Internet Speeds</h2></center>
		<div style="width: 90%; margin-left: auto; margin-right: auto;">
			<div>
				<canvas id="canvas" height="600px" width="600"></canvas>
			</div>
		</div>


	<script>
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true,
			maintainAspectRatio: false,
			scaleLabel: "<%=value%> Mbps",
			tooltipXOffset: 1,
			multiTooltipTemplate: "<%= value %> <%= datasetLabel %>"
		});
	}
	</script>
	</body>
</html>
